<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>My First Bootstrap Page</h1>
  </div>
<form action="/cadastrar" action="POST">

<label>Nome Completo</label>
<input type="text" name="nome"><br>
&nbsp;

<label>Cnpj</label>
<input type="text" name="cnpj"><br>
&nbsp;

<label>Razão social</label>
<input type="text" name="razaoSocial"><br>
&nbsp;

<label>Nome Fantasia</label>
<input type="text" name="nomeFanatasia"><br>
&nbsp;

<label>Cep</label>
<input type="int" name="cep"><br>
&nbsp;

<label>Endereco</label>
<input type="text" name="endereco"><br>
&nbsp;

<label>Numero do endereco</label>
<input type="int" name="numeroEndereco"><br>
&nbsp;

<label>Cidade</label>
<input type="text" name="cidade"><br>
&nbsp;

<label>Estado</label>
<input type="char" name="estado"><br>
&nbsp;

<label>Crie a senha</label>
<input type="text" name="senhaLogin"><br>
&nbsp;

<label>Confirmar senha</label>
<input type="text" name="senhaLoginConfirm"><br>
&nbsp;

<button type="submit">Cadastrar</button>

</form>


