
   <div class="container-fluid p-5 bg-success text-white text-center">
    <h1>Sistema de coleta</h1>
  </div>
  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="navbar-brand" href="#">
            <img src="C:\Users\dogla\OneDrive\Documentos\FATEC ZL\PI ZL\2 sem\img\eco.png" alt="Logo Eco" style="width:60px;" class="rounded"> 
          </a>
        </li>
       <li class="nav-item">
          <a class="nav-link" href="#">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul>
    </div>
  </nav>
  
  
  